
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Таблица заказов</h1>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Статус</td>
            <td>Тип доставки</td>
            <td>Город</td>
            <td>Адресс</td>
        </tr>
        @foreach (var order in ViewBag.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Name</td>
                <td>@order.Status</td>
                <td>@order.Shipping_type</td>
                <td>@order.City</td>
                <td>@order.Adress</td>
            </tr>

        }
    </table>
</body>

